.thumbnail img {
    width: 100%
}

#indexThumb{
    padding: 0;
}

.deleteButton{
    display: inline;
}
.thumbnail caption-full{
    padding:9px;
}

#map {
    margin-top: 15px;
    height: 400px;
    width: 100%;
}